@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* Start Global Styles */

body {
  font-family: "Roboto", "Helvetica", "Sans-serif";
  margin: 0;
  padding: 0;
  font-size: 1rem;
  font-weight: #777;
  line-height: 1.7;
}

* {
  outline: none;
}

*:not(.slick-track):not(.slick-list) {
  transition: 0.4s;
}

/* End Global Styles */